---
layout: default
---

{% if page.comments %}
    <!-- The empty element required for Disqus to loads comments into --> 

    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <!--<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>-->
    <!-- Visitor can click only if they <3 comments! -->
    <div ><a hred="#" class="show-comments" id="show-comments"onclick="return true;">Load Comments</a></div>
    <div ><a hred="#" class="hide-comments" id="hide-comments" onclick="return false;" style="display:none">Hide Comments</a></div>

    <div id="disqus_thread" class="article-comments"></div>
 {% endif %}